--readme README.md
--markup markdown
--output-dir doc
--exclude lib/actionable/rails
--exclude lib/actionable/railtie
--exclude lib/actionable/rspec
lib/**/*.rb
-
USAGE.md
docs/getting_started.md
CHANGELOG.md
